/* Header & Text */

.blue-header{
  color: #2BB3B1;
  font-size: 3rem;
}

.green-header{
  color: #BFDF33;
  padding: 40px 30px 20px 5px;
  font-weight: bold;
  font-size: 2.1rem;
}

.gray-txt{
  color: #C5C7CE;
  line-height: 1;
  font-weight: normal;
}

h3{
  font-weight: bold;
}

p{
  color: white;
  line-height: 0.1;
  margin-bottom: 10px;
  font-weight: normal;
}

.pricePeriod{
  opacity: 60%;
  font-weight: normal;
}

.permonth{
  position: relative;
  bottom: 10px;
  left: 20px;
}

h1{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Containers */

body{
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: bold;
  background-color: #E7EFF6;
  color: white;
  width: 1440px;
}

.container{
  text-align: left;
  background-color: white;
  border-radius: 20px;
  display: block;
  width: 90%;
  margin: 20% 50%;
  height: 978px;
  -webkit-box-shadow: -2px 14px 43px 3px rgba(212,212,212,0.71);
}

.blue-bg{
  background-color: hsl(179, 62%, 43%);
  float: left;
  border-radius: 0 0 0 20px;
}

.light-bg{
  background-color: #4bbebd;
  float: right;
  border-radius: 0 0 20px 0;
}

.padding{
  padding: 5% 81px;
}

.height{
  height: 430px;
}

.width{
  width: 37.5%;
}

.in-line{
  display: inline-block;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  line-height: 1.5;
}

.signupButton{
  background-color: #BFDF33;
  color: white;
  border: 0;
  padding: 6% 36%;
  border-radius: 12px;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  position: relative;
  top: 80px;
  -webkit-box-shadow: -2px 14px 43px 3px rgba(0,0,0,0.2);
}


@media screen and (max-width: 700px) {

  .container{
    text-align: left;
    background-color: white;
    border-radius: 20px 20px 0 0;
    display: block;
    width: 90%;
    margin: 20% 50% 0 50%;
  }

  .blue-bg{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0;
  }

  .light-bg{
    background-color: #4bbebd;
    border-radius: 0 0 20px 20px;
  }

}
